


h1 {
  margin-top: 100px;
  margin-bottom: 48px;
}

.container {
  width: 1020px;  
  margin: 0 auto;
  height: 1240px;
}

.cupanglogo {
  width: 176px;
  height: 40px;
}

.today-text-area {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.today-text {
  font-size: 24px;
  font-weight: 400;  
}

.slash {
  font-size: 18px;
  color: #AAA9A9;
  margin-left: 10px;
}

.hot {
  font-size: 16px;
  font-weight: 400;
  color: #AAA9A9;
  margin-left: 10px;  
}

/* 허니이미지 */

.honey-area, .wettissue-area {
  float: left;
  margin-bottom: 16px;
}

.honey, .vaseline, .wettissue { 
  display: flex;
  position: relative; 
  justify-content: center;
  align-items: center;
  width: 502px;
  height: 310px;      
  border: 1px solid #4E4E4E;  
  overflow: hidden;    
}

.honey:hover {
  border-color: var(--color-blue);
}

.honey:hover .icon-area {  
  background-color: var(--color-blue);
  opacity: 100%;
  width: 112px;
  height: 42px;
  transition-duration: 0.3s;  
}

.honey:hover .icon::before {
  content: '구매하기';
  position: relative;
  top: 10px;
  left: 20px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;  
  white-space: nowrap; 
}

.img-link:focus .honey {
  border-color: var(--color-blue);  
}

.img-link:focus .icon-area {  
  background-color: var(--color-blue);
  opacity: 100%;
  width: 112px;
  height: 42px;
  transition-duration: 0.3s;  
}

.img-link:focus .icon::before {
  content: '구매하기';
  position: relative;
  top: 10px;
  left: 20px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;  
  white-space: nowrap; 
}

.icon-area {
  display: inline-block;
  position: absolute;  
  width: 42px;
  height: 42px;
  left: 20px;
  bottom: 20px;
  background-color: black;
  opacity: 0.2;  
}

.icon {  
  display: flex;
  height: 42px;
  margin: 0 auto;
}



/* 바세린이미지 */

.vaseline-area {
  float: right;
  margin-bottom: 16px;
}

.vaseline:hover {
  border-color: var(--color-blue);   
}

.vaseline:hover .icon-area {  
  background-color: var(--color-blue);
  opacity: 100%;
  width: 112px;
  height: 42px;
  transition-duration: 0.3s;  
}

.vaseline:hover .icon::before {
  content: '구매하기';
  position: relative;
  top: 10px;
  left: 20px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;  
  white-space: nowrap; 
}

.img-link:focus .vaseline {
  border-color: var(--color-blue);  
}


/* 핸드크림이미지 */

.handcream-area, .bibs-area {
  float: left;
  width: 243px;
  height: 310px;    
  margin-right: 16px;
  margin-bottom: 16px; 
}

.handcream, .bibs{
  display: flex;
  position: relative; 
  justify-content: center;
  align-items: center;
  width: 243px;
  height: 310px;      
  border: 1px solid #4E4E4E;  
  overflow: hidden;   
}

.handcream:hover {
  border-color: var(--color-blue);   
}

.handcream:hover .icon-area {  
  background-color: var(--color-blue);
  opacity: 100%;
  width: 112px;
  height: 42px;
  transition-duration: 0.3s;  
}

.handcream:hover .icon::before {
  content: '구매하기';
  position: relative;
  top: 10px;
  left: 20px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;  
  white-space: nowrap; 
}

.img-link:focus .handcream {
  border-color: var(--color-blue);  
}


/* 빕스이미지 */

.bibs:hover {
  border-color: var(--color-blue);   
}

.bibs:hover .icon-area {  
  background-color: var(--color-blue);
  opacity: 100%;
  width: 112px;
  height: 42px;
  transition-duration: 0.3s;  
}

.bibs:hover .icon::before {
  content: '구매하기';
  position: relative;
  top: 10px;
  left: 20px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;  
  white-space: nowrap; 
}

.img-link:focus .bibs {
  border-color: var(--color-blue);  
}


/* 한샘 이미지 */

.hanssem-area {
  float: right;
  width: 243px;
  height: 310px;  
  margin-right: 16px; 
  margin-bottom: 16px;   
}

.hanssem, .mandoo, .febreze, .dyson {  
  display: flex;
  position: relative; 
  justify-content: center;
  align-items: center;
  width: 243px;
  height: 310px;      
  border: 1px solid #4E4E4E;  
  overflow: hidden;   
}

.hanssem:hover {
  border-color: var(--color-blue);   
}

.hanssem:hover .icon-area {  
  background-color: var(--color-blue);
  opacity: 100%;
  width: 112px;
  height: 42px;
  transition-duration: 0.3s;  
}

.hanssem:hover .icon::before {
  content: '구매하기';
  position: relative;
  top: 10px;
  left: 20px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;  
  white-space: nowrap; 
}

.img-link:focus .hanssem {
  border-color: var(--color-blue);  
}


/* 만두이미지 */

.mandoo-area {
  float: right;
  width: 243px;
  height: 310px;
  margin-bottom: 16px;
}

.mandoo:hover {
  border-color: var(--color-blue);   
}

.mandoo:hover .icon-area {  
  background-color: var(--color-blue);
  opacity: 100%;
  width: 112px;
  height: 42px;
  transition-duration: 0.3s;  
}

.mandoo:hover .icon::before {
  content: '구매하기';
  position: relative;
  top: 10px;
  left: 20px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;  
  white-space: nowrap; 
}


.img-link:focus .mandoo {
  border-color: var(--color-blue);  
}



/* 물티슈이미지 */


.wettissue:hover {
  border-color: var(--color-blue);   
}

.wettissue:hover .icon-area {  
  background-color: var(--color-blue);
  opacity: 100%;
  width: 112px;
  height: 42px;
  transition-duration: 0.3s;  
}

.wettissue:hover .icon::before {
  content: '구매하기';
  position: relative;
  top: 10px;
  left: 20px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;  
  white-space: nowrap; 
}

.img-link:focus .wettissue {
  border-color: var(--color-blue);  
}

/* 페브리즈이미지 */

.febreze-area {
  float: right;
  width: 243px;
  height: 310px;

  margin-bottom: 16px;
}

.febreze:hover {
  border-color: var(--color-blue);   
}

.febreze:hover .icon-area {  
  background-color: var(--color-blue);
  opacity: 100%;
  width: 112px;
  height: 42px;
  transition-duration: 0.3s;  
}

.febreze:hover .icon::before {
  content: '구매하기';
  position: relative;
  top: 10px;
  left: 20px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;  
  white-space: nowrap; 
}

.img-link:focus .febreze {
  border-color: var(--color-blue);  
}


/* 다이슨청소기이미지 */


.dyson-area {
  float: right;
  width: 243px;
  height: 310px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.dyson:hover {
  border-color: var(--color-blue);   
}

.dyson:hover .icon-area {  
  background-color: var(--color-blue);
  opacity: 100%;
  width: 112px;
  height: 42px;
  transition-duration: 0.3s;  
}

.dyson:hover .icon::before {
  content: '구매하기';
  position: relative;
  top: 10px;
  left: 20px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;  
  white-space: nowrap; 
}

.img-link:focus .dyson {
  border-color: var(--color-blue);  
}